<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/bootstrap.php" colors="true">

    <testsuites>
        <testsuite name="FastFeed test suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <blacklist>
            <directory>./tests</directory>
            <directory>/usr/share/pear/</directory>
            <directory>./build</directory>
            <directory>./cache</directory>
            <directory>./vendor</directory>
        </blacklist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="coverage-html" target="build/coverage" title="FastFeed" charset="UTF-8"
             yui="true" highlight="true" lowUpperBound="20" highLowerBound="80"/>
    </logging>
</phpunit>
